In [ ]:
import pandas as pd

In [146]:
y = range(2008,2019)
t = [5,4,4,4,4,3,3,5,5,5,6]
ta = []
for x in t:
    ta.append(range(1,x+1))
    print(range(1,x+1))
    
ta

range(1, 6)
range(1, 5)
range(1, 5)
range(1, 5)
range(1, 5)
range(1, 4)
range(1, 4)
range(1, 6)
range(1, 6)
range(1, 6)
range(1, 7)

[range(1, 6),
 range(1, 5),
 range(1, 5),
 range(1, 5),
 range(1, 5),
 range(1, 4),
 range(1, 4),
 range(1, 6),
 range(1, 6),
 range(1, 6),
 range(1, 7)]

In [127]:
range(len(t))

range(0, 11)

In [126]:
for i in range(len(t)):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [119]:
df = pd.read_csv('/Users/ptw/Downloads/2018_all_Contracts_Full_20190610/2018_all_Contracts_Full_20190613_6.csv',usecols=['current_total_value_of_award','potential_total_value_of_award',
         'recipient_duns','recipient_name','recipient_parent_name',
         'recipient_parent_duns','recipient_country_code',
         'number_of_offers_received','contracting_officers_determination_of_business_size',
         'organizational_type','number_of_employees','annual_revenue'])

In [116]:
df.head(100)

,current_total_value_of_award,potential_total_value_of_award,recipient_duns,recipient_name,recipient_parent_name,recipient_parent_duns,recipient_country_code,number_of_offers_received,contracting_officers_determination_of_business_size,organizational_type,number_of_employees,annual_revenue
0,296.42,296.42,806619115,"PIEDMONT HAWTHORNE AVIATION, L.L.C.",SIGNATURE FLIGHT SUPPORT CORPORATION,212078364.0,USA,NaN,OTHER THAN SMALL BUSINESS,PARTNERSHIP,668.0,9.936200e+07
1,3074.64,3074.64,85866580,"TW METALS, INC.",TW METALS INC.,79405982.0,USA,NaN,OTHER THAN SMALL BUSINESS,NaN,4100.0,2.135000e+09
2,174.71,174.71,39674833,"BROTHERS PRODUCE, INCORPORATED",BROTHERS PRODUCE INCORPORATED,39674833.0,USA,NaN,SMALL BUSINESS,CORPORATE NOT TAX EXEMPT,250.0,1.100000e+08
3,1286.27,1286.27,11760980,"GARGIULO, FRANK M & SON INC",FRANK M GARGIULO & SON INC,11760980.0,USA,NaN,SMALL BUSINESS,CORPORATE NOT TAX EXEMPT,NaN,NaN
4,3177.21,3177.21,7914906,AMERISOURCEBERGEN DRUG CORPORATION,AMERISOURCEBERGEN CORPORATION,39277590.0,USA,NaN,OTHER THAN SMALL BUSINESS,NaN,10000.0,7.000000e+10
5,408.82,408.82,826929577,JACKSONVILLE JETPORT LLC,JACKSONVILLE JETPORT LLC,826929577.0,USA,NaN,SMALL BUSINESS,PARTNERSHIP,30.0,1.300000e+07
6,24650.00,24650.00,129171463,"BISHOP PLUMBING & HEATING, INC.",BISHOP PLUMBING & HEATING INC.,129171463.0,USA,2.0,SMALL BUSINESS,NaN,22.0,3.478966e+06
7,143875.84,143875.84,120848411,PACIFIC CONSOLIDATED INDUSTRIES LLC,PACIFIC CONSOLIDATED INDUSTRIES LLC,78772074.0,USA,1.0,SMALL BUSINESS,NaN,103.0,3.079144e+07
8,459.10,459.10,61081477,"SMARTHEALTH, INC.",SMARTHEALTH INC.,61081477.0,USA,NaN,SMALL BUSINESS,NaN,450.0,9.000000e+07
9,2899.61,2899.61,176019107,HONEYWELL INTERNATIONAL INC.,HONEYWELL INTERNATIONAL INC.,139691877.0,USA,1.0,OTHER THAN SMALL BUSINESS,CORPORATE NOT TAX EXEMPT,84000.0,1.200000e+10
10,224.37,224.37,29107109,COAST CITRUS DISTRIBUTORS,COAST CITRUS DISTRIBUTORS,29107109.0,USA,NaN,SMALL BUSINESS,NaN,100.0,3.600000e+07
11,23392244.00,23392244.00,884812025,"INNOVATIVE SCIENTIFIC SOLUTIONS, INC",INNOVATIVE SCIENTIFIC SOLUTIONS INC,884812025.0,USA,NaN,SMALL BUSINESS,NaN,64.0,1.050000e+07
12,86385.00,86385.00,797936734,LIFEWATCH SERVICES INC.,LIFEWATCH SERVICES INC.,78846112.0,USA,1.0,OTHER THAN SMALL BUSINESS,NaN,483.0,8.200000e+07
13,750.20,750.20,948188594,"S & S BAKERY, INC.",S & S BAKERY INC.,948188594.0,USA,NaN,SMALL BUSINESS,NaN,95.0,9.000000e+06
14,41576.61,41576.61,932465909,"UEC ELECTRONICS, LLC",UEC ELECTRONICS LLC,825036189.0,USA,8.0,SMALL BUSINESS,NaN,490.0,8.761915e+07
15,11086.54,11086.54,961027315,"CARDINAL HEALTH 200, LLC",CARDINAL HEALTH INC.,97537435.0,USA,NaN,OTHER THAN SMALL BUSINESS,NaN,37300.0,1.050530e+11
16,24835.00,24835.00,71970180,ENGINEERED COIL COMPANY,FINMECCANICA SPA,428869465.0,USA,1.0,OTHER THAN SMALL BUSINESS,NaN,10000.0,2.800000e+09
17,9273.60,9273.60,79953856,WI MILITARY & INDUSTRIAL MANUFACTURING INC,WI MILITARY & INDUSTRIAL MANUFACTURING INC,79953856.0,USA,17.0,SMALL BUSINESS,NaN,8.0,1.000000e+06
18,31.90,31.90,27079776,"ATLANTIC DIVING SUPPLY, INC.",ATLANTIC DIVING SUPPLY INC.,78857127.0,USA,NaN,SMALL BUSINESS,NaN,420.0,9.680000e+08
19,403.78,403.78,148983229,SCIENCE APPLICATIONS INTERNATIONAL CORPORATION,SCIENCE APPLICATIONS INTERNATIONAL CORPORATION,78745061.0,USA,NaN,OTHER THAN SMALL BUSINESS,CORPORATE NOT TAX EXEMPT,13758.0,4.000000e+09
20,2658457.06,2658457.06,801357034,NUGATE GROUP LLC,NUGATE GROUP LLC,801357034.0,USA,NaN,SMALL BUSINESS,NaN,90.0,1.211233e+06
21,69.35,69.35,79151118,"DAIRY MAID DAIRY, LLC",DAIRY FARMERS OF AMERICA INC.,29855640.0,USA,NaN,OTHER THAN SMALL BUSINESS,NaN,5500.0,1.245421e+07
22,19800.00,19800.00,64745789,"G. S. E. DYNAMICS, INC.",G. S. E. DYNAMICS INC.,64745789.0,USA,NaN,SMALL BUSINESS,NaN,65.0,1.400000e+07
23,4002.84,4002.84,79331239,VISTA OUTDOOR SALES LLC,VISTA OUTDOOR SALES LLC,79728394.0,USA,3.0,OTHER THAN SMALL BUSINESS,NaN,4800.0,2.300000e+09
24,588.72,588.72,27519248,"SPOKANE PRODUCE, INC.",SPOKANE PRODUCE INC.,27519248.0,USA,NaN,SMALL BUSINESS,CORPORATE NOT TAX EXEMPT,271.0,7.733210e+07
25,738.00,738.00,78818602,"VERATO, INC.",ARAXID PRIME INC.,78818602.0,USA,NaN,SMALL BUSINESS,NaN,30.0,3.402000e+06
26,30000.00,30000.00,76659684,"REALITY TECHNOLOGY, INC.",REALITY TECHNOLOGY INC.,783493745.0,USA,1.0,SMALL BUSINESS,CORPORATE NOT TAX EXEMPT,5.0,4.500000e+05
27,7.13,7.13,848028494,LOCKHEED MARTIN CORPORATION,LOCKHEED MARTIN CORPORATION,834951691.0,USA,NaN,OTHER THAN SMALL BUSINESS,NaN,115000.0,4.634600e+10
28,8464.21,8464.21,961027315,"CARDINAL HEALTH 200, LLC",CARDINAL HEALTH INC.,97537435.0,USA,NaN,OTHER THAN SMALL BUSINESS,NaN,37300.0,1.050530e+11
29,29412.72,29412.72,80519840,"SMITH, ETHAN DANIEL",SMITH ETHAN DANIEL,80519840.0,USA,11.0,SMALL BUSINESS,NaN,1.0,1.000000e+00
...,...,...,...,...,...,...,...,...,...,...,...,...
70,8537.84,8537.84,7914906,AMERISOURCEBERGEN DRUG CORPORATION,AMERISOURCEBERGEN CORPORATION,39277590.0,USA,NaN,OTHER THAN SMALL BUSINESS,NaN,10000.0,7.000000e+10
71,379.29,379.29,39674833,"BROTHERS PRODUCE, INCORPORATED",BROTHERS PRODUCE INCORPORATED,39674833.0,USA,NaN,SMALL BUSINESS,CORPORATE NOT TAX EXEMPT,250.0,1.100000e+08
72,486.78,486.78,148983229,SCIENCE APPLICATIONS INTERNATIONAL CORPORATION,SCIENCE APPLICATIONS INTERNATIONAL CORPORATION,78745061.0,USA,NaN,OTHER THAN SMALL BUSINESS,CORPORATE NOT TAX EXEMPT,13758.0,4.000000e+09
73,1590.68,1590.68,11556719,"AERO-ELECTRIC CONNECTOR, INC.",AERO-ELECTRIC CONNECTOR INC.,11556719.0,USA,NaN,SMALL BUSINESS,CORPORATE NOT TAX EXEMPT,700.0,7.200000e+07
74,5340.00,5340.00,80446089,"ALPHA 28 CONSULTING, LLC",ALPHA 28 CONSULTING LLC,80446089.0,USA,1.0,SMALL BUSINESS,CORPORATE NOT TAX EXEMPT,8.0,5.000000e+05
75,6975461.02,6975461.02,35414697,"SURVICE ENGINEERING COMPANY, LLC, THE",THE SURVICE ENGINEERING COMPANY LLC,35414697.0,USA,2.0,SMALL BUSINESS,NaN,400.0,5.000000e+07
76,756.97,756.97,39674833,"BROTHERS PRODUCE, INCORPORATED",BROTHERS PRODUCE INCORPORATED,39674833.0,USA,NaN,SMALL BUSINESS,CORPORATE NOT TAX EXEMPT,250.0,1.100000e+08
77,33.19,33.19,15108087,BENCO DENTAL SUPPLY CO.,BENCO DENTAL SUPPLY CO.,15108087.0,USA,NaN,OTHER THAN SMALL BUSINESS,CORPORATE NOT TAX EXEMPT,1153.0,3.436222e+08
78,1484.60,1484.60,35053677,"CASH-WA DISTRIBUTING CO. OF KEARNEY, INC.",CASH-WA DISTRIBUTING CO. OF KEARNEY INC.,35053677.0,USA,NaN,SMALL BUSINESS,CORPORATE NOT TAX EXEMPT,570.0,4.050000e+08
79,0.00,0.00,827470456,RAYTHEON COMPANY,RAYTHEON COMPANY,1339159.0,USA,NaN,OTHER THAN SMALL BUSINESS,CORPORATE NOT TAX EXEMPT,61000.0,2.400000e+10
80,29487.77,29487.77,826782737,"HERMENS HELICOPTERS, INC.",HERMENS HELICOPTERS INC.,826782737.0,USA,3.0,SMALL BUSINESS,NaN,1.0,1.500000e+05
81,92170.36,92170.36,3548489,AT&T MOBILITY LLC,AT&T INC.,108024050.0,USA,3.0,OTHER THAN SMALL BUSINESS,NaN,35000.0,1.400000e+11
82,591.37,591.37,79520724,"CTI PROFESSIONAL FLIGHT TRAINING, LLC",CTI PROFESIONAL FLIGHT TRAINING LLC,79520724.0,USA,NaN,SMALL BUSINESS,CORPORATE NOT TAX EXEMPT,216.0,3.255335e+07
83,373545.52,373545.52,830341645,OBXTEK INC.,OBXTEK INC.,830341645.0,USA,NaN,SMALL BUSINESS,NaN,42.0,3.200000e+06
84,355381.69,355381.69,154564728,"NAVALES ENTERPRISES, INC.",NAVALES ENTERPRISES INC.,154564728.0,USA,1.0,SMALL BUSINESS,NaN,12.0,2.500000e+06
85,144.16,144.16,7914906,AMERISOURCEBERGEN DRUG CORPORATION,AMERISOURCEBERGEN CORPORATION,39277590.0,USA,NaN,OTHER THAN SMALL BUSINESS,NaN,10000.0,7.000000e+10
86,135.52,135.52,116057019,SUPPLYCORE INC.,SUPPLYCORE INC.,116057019.0,USA,NaN,SMALL BUSINESS,NaN,110.0,8.800000e+07
87,14543.26,14543.26,945371946,RED ROAD INCORPORATED,RED ROAD INC,945371946.0,USA,1.0,SMALL BUSINESS,NaN,3.0,1.000000e+00
88,32186.64,32186.64,961027315,"CARDINAL HEALTH 200, LLC",CARDINAL HEALTH INC.,97537435.0,USA,NaN,OTHER THAN SMALL BUSINESS,NaN,37300.0,1.050530e+11
89,676682.00,676682.00,27079776,"ATLANTIC DIVING SUPPLY, INC.",ATLANTIC DIVING SUPPLY INC.,78857127.0,USA,NaN,SMALL BUSINESS,CORPORATE NOT TAX EXEMPT,380.0,9.680000e+08
90,3218825.58,3218825.58,932902364,"NOBLIS, INC.",NOBLIS INC.,932902364.0,USA,1.0,OTHER THAN SMALL BUSINESS,NaN,700.0,1.631890e+08
91,47.06,47.06,71767334,HAMILTON SUNDSTRAND CORPORATION,UNITED TECHNOLOGIES CORPORATION,1344142.0,USA,NaN,OTHER THAN SMALL BUSINESS,CORPORATE NOT TAX EXEMPT,225600.0,5.480000e+10
92,1027.00,1027.00,48485478,WESCO AIRCRAFT HARDWARE CORP.,WESCO AIRCRAFT HARDWARE CORP.,809073245.0,USA,NaN,OTHER THAN SMALL BUSINESS,NaN,2600.0,1.426000e+09
93,30.13,30.13,148983229,SCIENCE APPLICATIONS INTERNATIONAL CORPORATION,SCIENCE APPLICATIONS INTERNATIONAL CORPORATION,78745061.0,USA,NaN,OTHER THAN SMALL BUSINESS,NaN,13758.0,4.000000e+09
94,371.47,371.47,39674833,"BROTHERS PRODUCE, INCORPORATED",BROTHERS PRODUCE INCORPORATED,39674833.0,USA,NaN,SMALL BUSINESS,CORPORATE NOT TAX EXEMPT,250.0,1.100000e+08
95,160.32,160.32,39674833,"BROTHERS PRODUCE, INCORPORATED",BROTHERS PRODUCE INCORPORATED,39674833.0,USA,NaN,SMALL BUSINESS,CORPORATE NOT TAX EXEMPT,250.0,1.100000e+08
96,61.38,61.38,961027315,"CARDINAL HEALTH 200, LLC",CARDINAL HEALTH INC.,97537435.0,USA,NaN,OTHER THAN SMALL BUSINESS,NaN,37300.0,1.050530e+11
97,11314.00,11314.00,21715206,HARRIS CORPORATION,HARRIS CORPORATION,4203337.0,USA,NaN,OTHER THAN SMALL BUSINESS,NaN,22000.0,8.000000e+09
98,359.44,359.44,77532422,"STERN PRODUCE COMPANY, INC.",STERN PRODUCE COMPANY INC.,77532422.0,USA,NaN,SMALL BUSINESS,CORPORATE NOT TAX EXEMPT,100.0,4.200000e+07
99,1602.90,1602.90,166493333,"ENDOSCOPY MD, LLC",ENDOSCOPY MD LLC,166493333.0,USA,NaN,SMALL BUSINESS,NaN,9.0,1.500000e+06

In [120]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 563010 entries, 0 to 563009
Data columns (total 12 columns):
current_total_value_of_award                           544030 non-null float64
potential_total_value_of_award                         563010 non-null float64
recipient_duns                                         563010 non-null int64
recipient_name                                         563005 non-null object
recipient_parent_name                                  560924 non-null object
recipient_parent_duns                                  562867 non-null float64
recipient_country_code                                 562980 non-null object
number_of_offers_received                              249217 non-null float64
contracting_officers_determination_of_business_size    563010 non-null object
organizational_type                                    213889 non-null object
number_of_employees                                    516132 non-null float64
annual_revenue                                         516132 non-null float64
dtypes: float64(6), int64(1), object(5)
memory usage: 51.5+ MB

In [99]:
df.describe()

,current_total_value_of_award,potential_total_value_of_award,recipient_duns,recipient_parent_duns,number_of_offers_received,number_of_employees,annual_revenue
count,5.440300e+05,5.630100e+05,5.630100e+05,5.628670e+05,249217.000000,5.161320e+05,5.161320e+05
mean,7.456447e+07,1.455903e+08,2.964154e+08,2.723259e+08,30.665553,4.244514e+04,3.510867e+10
std,4.451009e+09,6.873851e+09,3.513765e+08,3.314640e+08,158.198189,6.805163e+06,2.670744e+12
min,-5.278168e+08,-5.380256e+08,1.000363e+06,1.000363e+06,0.000000,0.000000e+00,0.000000e+00
25%,2.831500e+02,2.907300e+02,3.612166e+07,3.930287e+07,1.000000,3.600000e+01,9.000000e+06
50%,2.590645e+03,3.031550e+03,1.111662e+08,9.753744e+07,2.000000,2.500000e+02,8.800000e+07
75%,4.109603e+04,6.336378e+04,6.231912e+08,6.048637e+08,5.000000,1.049000e+04,4.000000e+09
max,5.900014e+11,1.233341e+12,9.800008e+08,9.899771e+08,999.000000,2.147484e+09,4.024463e+14

In [149]:
df.columns

Index(['current_total_value_of_award', 'potential_total_value_of_award',
       'recipient_duns', 'recipient_name', 'recipient_parent_name',
       'recipient_parent_duns', 'recipient_country_code',
       'number_of_offers_received',
       'contracting_officers_determination_of_business_size',
       'organizational_type', 'number_of_employees', 'annual_revenue'],
      dtype='object')

In [102]:
df['recipient_country_code'].value_counts()

USA    547894
ARE      2913
DEU      2408
JPN      2175
CAN      1069
GBR       844
KOR       717
BHR       476
DNK       461
ITA       328
MLT       326
PHL       240
AFG       239
CHE       220
TUR       191
ESP       178
KWT       174
SGP       140
ROU       138
BEL       117
FRA       106
SAU        99
THA        98
0          71
AUS        67
COL        67
VNM        59
IRQ        56
JOR        56
DJI        47
        ...
MUS         2
BLZ         2
KHM         2
GAB         2
ANT         2
ZWE         2
TWN         2
HUN         2
MMR         2
TCA         1
SYR         1
LVA         1
MDG         1
TUN         1
CHL         1
PNG         1
CRI         1
JAM         1
KAZ         1
TJK         1
ALB         1
SVK         1
VGB         1
MDA         1
BEN         1
SSD         1
GMB         1
TGO         1
XKS         1
AZE         1
Name: recipient_country_code, Length: 136, dtype: int64

In [163]:
df = df[df['recipient_country_code'] =='USA']
len(df)

547894

In [93]:
df['organizational_type'].unique()

array(['PARTNERSHIP', nan, 'CORPORATE NOT TAX EXEMPT',
       'US GOVERNMENT ENTITY', 'OTHER', 'INTERNATIONAL ORG',
       'CORPORATE TAX EXEMPT', 'SOLE PROPRIETORSHIP',
       'FOREIGN GOVERNMENT'], dtype=object)

In [96]:
df['organizational_type'].describe()

count                       213889
unique                           8
top       CORPORATE NOT TAX EXEMPT
freq                        167730
Name: organizational_type, dtype: object

In [101]:
df['organizational_type'].value_counts()

CORPORATE NOT TAX EXEMPT    167730
OTHER                        18647
PARTNERSHIP                  10162
SOLE PROPRIETORSHIP           5321
CORPORATE TAX EXEMPT          5249
US GOVERNMENT ENTITY          3885
INTERNATIONAL ORG             2779
FOREIGN GOVERNMENT             116
Name: organizational_type, dtype: int64

In [147]:
df['contracting_officers_determination_of_business_size'].value_counts()

OTHER THAN SMALL BUSINESS    292935
SMALL BUSINESS               270075
Name: contracting_officers_determination_of_business_size, dtype: int64

In [148]:
df[df['organizational_type'].isna()]['contracting_officers_determination_of_business_size'].describe()

count                        349121
unique                            2
top       OTHER THAN SMALL BUSINESS
freq                         204954
Name: contracting_officers_determination_of_business_size, dtype: object

In [118]:
df[df['organizational_type'].isna()]['current_total_value_of_award'].describe()

count    3.341910e+05
mean     3.653823e+07
std      1.239841e+09
min     -1.326593e+08
25%      2.292550e+02
50%      2.385000e+03
75%      2.681500e+04
max      5.899997e+11
Name: current_total_value_of_award, dtype: float64

In [97]:
df['current_total_value_of_award'].describe()

count    5.440300e+05
mean     7.456447e+07
std      4.451009e+09
min     -5.278168e+08
25%      2.831500e+02
50%      2.590645e+03
75%      4.109603e+04
max      5.900014e+11
Name: current_total_value_of_award, dtype: float64

In [98]:
df['potential_total_value_of_award'].describe()

count    5.630100e+05
mean     1.455903e+08
std      6.873851e+09
min     -5.380256e+08
25%      2.907300e+02
50%      3.031550e+03
75%      6.336378e+04
max      1.233341e+12
Name: potential_total_value_of_award, dtype: float64

In [155]:
grouped1 = df.groupby(['recipient_duns', 'recipient_name'])['current_total_value_of_award','current_total_value_of_award', 'number_of_offers_received'].sum()
len(grouped1)

49332

In [157]:
grouped1 = df.groupby(['recipient_name'])['current_total_value_of_award','current_total_value_of_award', 'number_of_offers_received'].sum()
len(grouped1)

47238

In [152]:
type(grouped1)

pandas.core.frame.DataFrame

In [156]:
grouped2 = df.groupby(['recipient_duns'])['current_total_value_of_award','current_total_value_of_award', 'number_of_offers_received'].sum()
len(grouped2)

46876

In [159]:
len(df['recipient_name'].unique())

47239

In [160]:
len(df['recipient_duns'].unique())

46876

In [ ]:
df.groupby('recipient_duns')[['current_total_value_of_award', 'current_total_value_of_award',
       'recipient_duns', 'recipient_name', 'recipient_parent_name',
       'recipient_parent_duns', 'recipient_country_code',
       'number_of_offers_received',
       'contracting_officers_determination_of_business_size',
       'organizational_type', 'number_of_employees', 'annual_revenue']].apply(lambda x: x['a']*x['b']*x['c'])

In [30]:
df2.sort_values(['recipient_duns','current_total_value_of_award'], inplace=True)

/Users/ptw/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [31]:
df2.head(100)

,current_total_value_of_award,potential_total_value_of_award,recipient_duns,recipient_name,recipient_parent_name,recipient_parent_duns,recipient_country_code,number_of_offers_received,contracting_officers_determination_of_business_size,organizational_type,number_of_employees,annual_revenue
270551,12506.40,12506.40,1000363,"LOUIS M. GERSON CO., INC",LOUIS M. GERSON CO. INC.,1000363.0,USA,5.0,SMALL BUSINESS,CORPORATE NOT TAX EXEMPT,52.0,2.000000e+07
780666,21879.76,21879.76,1001049,SPINELLI RAVIOLI MFG CO INC,SPINELLI RAVIOLI MFG CO INC,1001049.0,USA,1.0,SMALL BUSINESS,CORPORATE NOT TAX EXEMPT,62.0,4.286081e+06
381016,784725.00,784725.00,1001767,"ECKEL INDUSTRIES, INC.","ECKEL INDUSTRIES, INC.",1001767.0,USA,2.0,OTHER THAN SMALL BUSINESS,CORPORATE NOT TAX EXEMPT,50.0,8.800000e+06
822912,4998.00,4998.00,1004092,"MICROWAVE DEVELOPMENT LABORATORIES, INC.",MICROWAVE DEVELOPMENT LABORATORIES INC.,1004092.0,USA,4.0,SMALL BUSINESS,CORPORATE NOT TAX EXEMPT,60.0,9.000000e+06
53636,7200.00,7200.00,1004092,"MICROWAVE DEVELOPMENT LABORATORIES, INC.",MICROWAVE DEVELOPMENT LABORATORIES INC.,1004092.0,USA,4.0,SMALL BUSINESS,CORPORATE NOT TAX EXEMPT,NaN,NaN
619748,7497.00,7497.00,1004092,"MICROWAVE DEVELOPMENT LABORATORIES, INC.",MICROWAVE DEVELOPMENT LABORATORIES INC.,1004092.0,USA,3.0,SMALL BUSINESS,CORPORATE NOT TAX EXEMPT,60.0,9.000000e+06
963458,9570.00,9570.00,1004092,"MICROWAVE DEVELOPMENT LABORATORIES, INC.",MICROWAVE DEVELOPMENT LABORATORIES INC.,1004092.0,USA,2.0,SMALL BUSINESS,CORPORATE NOT TAX EXEMPT,60.0,9.000000e+06
759400,9978.00,9978.00,1004092,"MICROWAVE DEVELOPMENT LABORATORIES, INC.",MICROWAVE DEVELOPMENT LABORATORIES INC.,1004092.0,USA,1.0,SMALL BUSINESS,CORPORATE NOT TAX EXEMPT,60.0,9.000000e+06
459010,12495.00,12495.00,1004092,"MICROWAVE DEVELOPMENT LABORATORIES, INC.",MICROWAVE DEVELOPMENT LABORATORIES INC.,1004092.0,USA,2.0,SMALL BUSINESS,CORPORATE NOT TAX EXEMPT,60.0,9.000000e+06
195693,29200.00,29200.00,1004092,"MICROWAVE DEVELOPMENT LABORATORIES, INC.",MICROWAVE DEVELOPMENT LABORATORIES INC.,1004092.0,USA,1.0,SMALL BUSINESS,CORPORATE NOT TAX EXEMPT,NaN,NaN
822107,44000.00,44000.00,1004092,"MICROWAVE DEVELOPMENT LABORATORIES, INC.",MICROWAVE DEVELOPMENT LABORATORIES INC.,1004092.0,USA,1.0,SMALL BUSINESS,CORPORATE NOT TAX EXEMPT,60.0,9.000000e+06
417046,117500.00,117500.00,1004092,"MICROWAVE DEVELOPMENT LABORATORIES, INC.",MICROWAVE DEVELOPMENT LABORATORIES INC.,1004092.0,USA,1.0,SMALL BUSINESS,CORPORATE NOT TAX EXEMPT,60.0,9.000000e+06
695228,224895.00,224895.00,1004092,"MICROWAVE DEVELOPMENT LABORATORIES, INC.",MICROWAVE DEVELOPMENT LABORATORIES INC.,1004092.0,USA,1.0,SMALL BUSINESS,CORPORATE NOT TAX EXEMPT,60.0,9.000000e+06
227154,249100.00,249100.00,1004092,"MICROWAVE DEVELOPMENT LABORATORIES, INC.",MICROWAVE DEVELOPMENT LABORATORIES INC.,1004092.0,USA,1.0,SMALL BUSINESS,CORPORATE NOT TAX EXEMPT,60.0,9.000000e+06
69334,318.04,318.04,1004258,"GUILD ASSOCIATES, INC.",GUILD ASSOCIATES INC.,1004258.0,USA,1.0,SMALL BUSINESS,CORPORATE NOT TAX EXEMPT,NaN,NaN
856103,373.78,373.78,1004258,"GUILD ASSOCIATES, INC.",GUILD ASSOCIATES INC.,1004258.0,USA,1.0,SMALL BUSINESS,CORPORATE NOT TAX EXEMPT,85.0,2.499236e+07
856511,387.84,387.84,1004258,"GUILD ASSOCIATES, INC.",GUILD ASSOCIATES INC.,1004258.0,USA,1.0,SMALL BUSINESS,CORPORATE NOT TAX EXEMPT,85.0,2.499236e+07
179781,437.60,437.60,1004258,"GUILD ASSOCIATES, INC.",GUILD ASSOCIATES INC.,1004258.0,USA,1.0,SMALL BUSINESS,CORPORATE NOT TAX EXEMPT,NaN,NaN
161456,444.90,444.90,1004258,"GUILD ASSOCIATES, INC.",GUILD ASSOCIATES INC.,1004258.0,USA,1.0,SMALL BUSINESS,CORPORATE NOT TAX EXEMPT,NaN,NaN
729778,459.91,459.91,1004258,"GUILD ASSOCIATES, INC.",GUILD ASSOCIATES INC.,1004258.0,USA,1.0,SMALL BUSINESS,CORPORATE NOT TAX EXEMPT,85.0,2.499236e+07
715052,471.41,471.41,1004258,"GUILD ASSOCIATES, INC.",GUILD ASSOCIATES INC.,1004258.0,USA,1.0,SMALL BUSINESS,CORPORATE NOT TAX EXEMPT,85.0,2.499236e+07
337215,480.64,480.64,1004258,"GUILD ASSOCIATES, INC.",GUILD ASSOCIATES INC.,1004258.0,USA,1.0,SMALL BUSINESS,CORPORATE NOT TAX EXEMPT,85.0,2.499236e+07
894532,492.80,492.80,1004258,"GUILD ASSOCIATES, INC.",GUILD ASSOCIATES INC.,1004258.0,USA,1.0,SMALL BUSINESS,CORPORATE NOT TAX EXEMPT,85.0,2.499236e+07
66332,517.60,517.60,1004258,"GUILD ASSOCIATES, INC.",GUILD ASSOCIATES INC.,1004258.0,USA,1.0,SMALL BUSINESS,CORPORATE NOT TAX EXEMPT,NaN,NaN
323732,561.50,561.50,1004258,"GUILD ASSOCIATES, INC.",GUILD ASSOCIATES INC.,1004258.0,USA,2.0,SMALL BUSINESS,CORPORATE NOT TAX EXEMPT,85.0,2.499236e+07
70283,570.75,570.75,1004258,"GUILD ASSOCIATES, INC.",GUILD ASSOCIATES INC.,1004258.0,USA,2.0,SMALL BUSINESS,CORPORATE NOT TAX EXEMPT,NaN,NaN
619050,601.16,601.16,1004258,"GUILD ASSOCIATES, INC.",GUILD ASSOCIATES INC.,1004258.0,USA,1.0,SMALL BUSINESS,CORPORATE NOT TAX EXEMPT,85.0,2.499236e+07
511850,693.44,693.44,1004258,"GUILD ASSOCIATES, INC.",GUILD ASSOCIATES INC.,1004258.0,USA,1.0,SMALL BUSINESS,CORPORATE NOT TAX EXEMPT,85.0,2.499236e+07
898891,702.36,702.36,1004258,"GUILD ASSOCIATES, INC.",GUILD ASSOCIATES INC.,1004258.0,USA,1.0,SMALL BUSINESS,CORPORATE NOT TAX EXEMPT,85.0,2.499236e+07
722693,1417.04,1417.04,1004258,"GUILD ASSOCIATES, INC.",GUILD ASSOCIATES INC.,1004258.0,USA,1.0,SMALL BUSINESS,CORPORATE NOT TAX EXEMPT,85.0,2.499236e+07
...,...,...,...,...,...,...,...,...,...,...,...,...
501564,48999.04,48999.04,1004332,"UNION MACHINE COMPANY OF LYNN, INC.",UNION MACHINE COMPANY OF LYNN INC.,1004332.0,USA,1.0,SMALL BUSINESS,CORPORATE NOT TAX EXEMPT,30.0,1.500000e+07
663872,48999.04,48999.04,1004332,"UNION MACHINE COMPANY OF LYNN, INC.",UNION MACHINE COMPANY OF LYNN INC.,1004332.0,USA,1.0,SMALL BUSINESS,CORPORATE NOT TAX EXEMPT,30.0,1.500000e+07
81778,68600.00,68600.00,1004332,"UNION MACHINE COMPANY OF LYNN, INC.",UNION MACHINE COMPANY OF LYNN INC.,1004332.0,USA,4.0,SMALL BUSINESS,CORPORATE NOT TAX EXEMPT,NaN,NaN
656106,74146.39,74146.39,1004332,"UNION MACHINE COMPANY OF LYNN, INC.",UNION MACHINE COMPANY OF LYNN INC.,1004332.0,USA,1.0,SMALL BUSINESS,CORPORATE NOT TAX EXEMPT,30.0,1.500000e+07
284446,110533.38,110533.38,1004332,"UNION MACHINE COMPANY OF LYNN, INC.",UNION MACHINE COMPANY OF LYNN INC.,1004332.0,USA,3.0,SMALL BUSINESS,CORPORATE NOT TAX EXEMPT,30.0,1.500000e+07
94296,136550.48,136550.48,1004332,"UNION MACHINE COMPANY OF LYNN, INC.",UNION MACHINE COMPANY OF LYNN INC.,1004332.0,USA,NaN,SMALL BUSINESS,CORPORATE NOT TAX EXEMPT,NaN,NaN
703401,195743.36,195743.36,1004332,"UNION MACHINE COMPANY OF LYNN, INC.",UNION MACHINE COMPANY OF LYNN INC.,1004332.0,USA,NaN,SMALL BUSINESS,CORPORATE NOT TAX EXEMPT,30.0,1.500000e+07
675480,351000.00,351000.00,1004332,"UNION MACHINE COMPANY OF LYNN, INC.",UNION MACHINE COMPANY OF LYNN INC.,1004332.0,USA,NaN,SMALL BUSINESS,CORPORATE NOT TAX EXEMPT,30.0,1.500000e+07
118678,NaN,473585.40,1004332,"UNION MACHINE COMPANY OF LYNN, INC.",UNION MACHINE COMPANY OF LYNN INC.,1004332.0,USA,1.0,SMALL BUSINESS,CORPORATE NOT TAX EXEMPT,NaN,NaN
491783,NaN,149999.99,1004332,"UNION MACHINE COMPANY OF LYNN, INC.",UNION MACHINE COMPANY OF LYNN INC.,1004332.0,USA,1.0,SMALL BUSINESS,CORPORATE NOT TAX EXEMPT,NaN,NaN
688106,NaN,2076794.44,1004332,"UNION MACHINE COMPANY OF LYNN, INC.",UNION MACHINE COMPANY OF LYNN INC.,1004332.0,USA,1.0,SMALL BUSINESS,CORPORATE NOT TAX EXEMPT,30.0,1.500000e+07
905253,14434.95,14434.95,1004787,"FRANKLIN PAINT COMPANY, INC.",FRANKLIN PAINT COMPANY INC.,1004787.0,USA,1.0,SMALL BUSINESS,CORPORATE NOT TAX EXEMPT,26.0,1.600000e+07
39339,5572.00,5572.00,1006311,ROLLS-ROYCE MARINE NORTH AMERICA INC.,ROLLS-ROYCE MARINE NORTH AMERICA INC.,217127290.0,USA,1.0,OTHER THAN SMALL BUSINESS,CORPORATE NOT TAX EXEMPT,NaN,NaN
426943,6106.16,6106.16,1006311,ROLLS-ROYCE MARINE NORTH AMERICA INC.,ROLLS-ROYCE MARINE NORTH AMERICA INC.,217127290.0,USA,NaN,OTHER THAN SMALL BUSINESS,CORPORATE NOT TAX EXEMPT,54100.0,1.418900e+10
950724,7750.44,7750.44,1006311,ROLLS-ROYCE MARINE NORTH AMERICA INC.,ROLLS-ROYCE MARINE NORTH AMERICA INC.,217127290.0,USA,NaN,OTHER THAN SMALL BUSINESS,CORPORATE NOT TAX EXEMPT,54100.0,1.418900e+10
267596,13383.00,13383.00,1006311,ROLLS-ROYCE MARINE NORTH AMERICA INC.,ROLLS-ROYCE MARINE NORTH AMERICA INC.,217127290.0,USA,1.0,OTHER THAN SMALL BUSINESS,CORPORATE NOT TAX EXEMPT,50000.0,2.026500e+10
293095,13383.00,13383.00,1006311,ROLLS-ROYCE MARINE NORTH AMERICA INC.,ROLLS-ROYCE MARINE NORTH AMERICA INC.,217127290.0,USA,1.0,OTHER THAN SMALL BUSINESS,CORPORATE NOT TAX EXEMPT,50000.0,2.026500e+10
837491,15000.00,15000.00,1006311,ROLLS-ROYCE MARINE NORTH AMERICA INC.,ROLLS-ROYCE MARINE NORTH AMERICA INC.,217127290.0,USA,1.0,OTHER THAN SMALL BUSINESS,CORPORATE NOT TAX EXEMPT,50000.0,2.026500e+10
940351,15377.04,15377.04,1006311,ROLLS-ROYCE MARINE NORTH AMERICA INC.,ROLLS-ROYCE MARINE NORTH AMERICA INC.,217127290.0,USA,NaN,OTHER THAN SMALL BUSINESS,CORPORATE NOT TAX EXEMPT,54100.0,1.418900e+10
410865,16224.00,16224.00,1006311,ROLLS-ROYCE MARINE NORTH AMERICA INC.,ROLLS-ROYCE MARINE NORTH AMERICA INC.,217127290.0,USA,3.0,OTHER THAN SMALL BUSINESS,CORPORATE NOT TAX EXEMPT,50000.0,2.026500e+10
852675,19945.95,19945.95,1006311,ROLLS-ROYCE MARINE NORTH AMERICA INC.,ROLLS-ROYCE MARINE NORTH AMERICA INC.,217127290.0,USA,NaN,OTHER THAN SMALL BUSINESS,CORPORATE NOT TAX EXEMPT,54100.0,1.418900e+10
434311,27145.60,27145.60,1006311,ROLLS-ROYCE MARINE NORTH AMERICA INC.,ROLLS-ROYCE MARINE NORTH AMERICA INC.,217127290.0,USA,1.0,OTHER THAN SMALL BUSINESS,CORPORATE NOT TAX EXEMPT,50000.0,2.026500e+10
14291,27641.90,27641.90,1006311,ROLLS-ROYCE MARINE NORTH AMERICA INC.,ROLLS-ROYCE MARINE NORTH AMERICA INC.,217127290.0,USA,1.0,OTHER THAN SMALL BUSINESS,CORPORATE NOT TAX EXEMPT,50000.0,2.026500e+10
345835,27801.00,27801.00,1006311,ROLLS-ROYCE MARINE NORTH AMERICA INC.,ROLLS-ROYCE MARINE NORTH AMERICA INC.,217127290.0,USA,1.0,OTHER THAN SMALL BUSINESS,CORPORATE NOT TAX EXEMPT,54100.0,2.181800e+10
822855,30859.70,30859.70,1006311,ROLLS-ROYCE MARINE NORTH AMERICA INC.,ROLLS-ROYCE MARINE NORTH AMERICA INC.,217127290.0,USA,1.0,OTHER THAN SMALL BUSINESS,CORPORATE NOT TAX EXEMPT,50000.0,2.026500e+10
106507,32886.00,32886.00,1006311,ROLLS-ROYCE MARINE NORTH AMERICA INC.,ROLLS-ROYCE MARINE NORTH AMERICA INC.,217127290.0,USA,NaN,OTHER THAN SMALL BUSINESS,CORPORATE NOT TAX EXEMPT,NaN,NaN
423937,32886.00,32886.00,1006311,ROLLS-ROYCE MARINE NORTH AMERICA INC.,ROLLS-ROYCE MARINE NORTH AMERICA INC.,217127290.0,USA,NaN,OTHER THAN SMALL BUSINESS,CORPORATE NOT TAX EXEMPT,54100.0,1.418900e+10
387761,36856.00,36856.00,1006311,ROLLS-ROYCE MARINE NORTH AMERICA INC.,ROLLS-ROYCE MARINE NORTH AMERICA INC.,217127290.0,USA,1.0,OTHER THAN SMALL BUSINESS,CORPORATE NOT TAX EXEMPT,50000.0,2.026500e+10
270938,39900.00,39900.00,1006311,ROLLS-ROYCE MARINE NORTH AMERICA INC.,ROLLS-ROYCE MARINE NORTH AMERICA INC.,217127290.0,USA,1.0,OTHER THAN SMALL BUSINESS,CORPORATE NOT TAX EXEMPT,50000.0,2.026500e+10
813774,39900.00,39900.00,1006311,ROLLS-ROYCE MARINE NORTH AMERICA INC.,ROLLS-ROYCE MARINE NORTH AMERICA INC.,217127290.0,USA,1.0,OTHER THAN SMALL BUSINESS,CORPORATE NOT TAX EXEMPT,50000.0,2.026500e+10

In [54]:
contractors = pd.DataFrame(set(df.recipient_name))

In [55]:
len(contractors)

47239

In [56]:
contractors.head()

                                    0
0                                 NaN
1                     TRI TOOL , INC.
2                 NEW MENTALITY, P.C.
3  GREGG TOWNSHIP MUNICIPAL AUTHORITY
4                  HARNETT, COUNTY OF

In [57]:
contractors.to_csv('contractors2018_6.csv')

In [58]:
df1 = pd.read_csv('contractors2018_1.csv')

In [59]:
df1.head()

   Unnamed: 0                      0
0           0                    NaN
1           1    NEW MENTALITY, P.C.
2           2        TRI TOOL , INC.
3           3      R.L. HUESTON, LLC
4           4  STREET SMARTS VR INC.

In [60]:
df2 = pd.read_csv('contractors2018_2.csv')

In [61]:
df3 = pd.read_csv('contractors2018_3.csv')

In [62]:
df4 = pd.read_csv('contractors2018_4.csv')

In [63]:
df5 = pd.read_csv('contractors2018_5.csv')

In [64]:
df6 = pd.read_csv('contractors2018_6.csv')

In [65]:
dfall = df1.append(df2, ignore_index = True)

In [82]:
dfall.columns=['index','contractors']

In [83]:
dfall.head()

   index            contractors
0      0                    NaN
1      1    NEW MENTALITY, P.C.
2      2        TRI TOOL , INC.
3      3      R.L. HUESTON, LLC
4      4  STREET SMARTS VR INC.

In [79]:
len(dfall)

369999

In [78]:
dfall = dfall.append(df6, ignore_index = True)

In [85]:
contractors2018 = pd.DataFrame(set(dfall['contractors']))

In [87]:
len(contractors2018)

139115

In [88]:
contractors2018.to_csv('contractors2018_ALL.csv')

In [89]:
contractors2018.head(100)

                                                0
0                                             NaN
1                             NEW MENTALITY, P.C.
2                                 TRI TOOL , INC.
3              GREGG TOWNSHIP MUNICIPAL AUTHORITY
4                     RUDMAN WINK ASSOCIATES, LLC
5                             B G ENTERPRISES LLC
6   NATIONAL CROP INSURANCE SERVICES INCORPORATED
7             SELECT ENERGY SERVICES INCORPORATED
8                ATHEEB INTERGRAPH SAUDI COMPA NY
9                             ADVANCED AUTOMOTIVE
10              GARDINER KAMYA AND ASSOCIATES P C
11             DEXTER MAGNETIC TECHNOLOGIES, INC.
12                             MORRIS PSYD, KIM P
13                         TAN CONSTRUCTION, INC.
14                          THOMPSON, VIRGINIA A.
15         PROGRESSIVE CONSTRUCTION SERVICES, LLC
16                                 BAKKEN, JOANNA
17                      ASSET INTERNATIONAL, INC.
18       LIM CONSTRUCTION MATERIALS TESTING, INC.
19                 NELSON FEDERAL CONTRACTING LLC
20                                CAROLINA NELSON
21                           SYSTIMS INCORPORATED
22                                      JAY BROWN
23                                    BARRETT LLC
24                             LOTEK WIRELESS INC
25                      BIO CHAMBERS INCORPORATED
26                            STANTON CARPET CORP
27                      MICHIGAN STATE UNIVERSITY
28         GALGON HVAC & MECHANICAL SERVICE, INC.
29                             BALLY RIBBON MILLS
..                                            ...
70               AMERICAN MESSAGING SERVICES, LLC
71               OPTECH LIMITED LIABILITY COMPANY
72             ATMOSPHERIC SCIENCE TECHNOLOGY LLC
73                                    SALTER LABS
74                       RICAFRENTE, GENIE JANE L
75                     WOOD FOREST PRODUCTS, INC.
76                       COLSTON CONSTRUCTION INC
77                    FELMAR MAINTENANCE SERVICES
78                            ROLLYSON, JOSEPHINE
79                      TEXTURE TECHNOLOGIES CORP
80                              U.W.D. MFG., INC.
81                                RODDY, THOMAS A
82             GOODWILL COMMERCIAL SERVICES, INC.
83                          CAUCHO TECHNOLOGY INC
84                                  PICTAIO, INC.
85                 CPS PROFESSIONAL SERVICES, LLC
86                              WRIGHT, WILSON J.
87         HAWK INSTITUTE FOR SPACE SCIENCES, LLC
88                       COZAD TRAILER SALES, LLC
89         MOTOR SERVICES HUGO STAMP INCORPORATED
90                                PLASMACAM, INC.
91                                       DAYS INN
92                                  PEERTHRU, LLC
93                  FLASHPOINT INTERNET SOLUTIONS
94                          SHAMAMI, ABDOLVAHAB K
95                 SPURS MARINE MANUFACTURING INC
96                                 WATTS, JILLIAN
97                          JIM WILSON MOTORS INC
98              CEDARVILLE ENGINEERING GROUP, LLC
99                    SIERRA FOREST PRODUCTS INC.

[100 rows x 1 columns]